version: "3"
volumes:
  xyz:
    driver: local
    
services:
  db:
    image: postgres:16.0
    container_name: db
    environment:
      - POSTGRES_DB=demo
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=pass
    volumes:
      - xyz:/var/lib/postgresql/data

  db2:
    image: mcr.microsoft.com/azure-sql-edge
    container_name: db2
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: zitgmLwmp1@q
      MSSQL_PID: Developer